*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
    background-color: rgb(35, 47, 62);
    color: white;
    }



#Navbar {
  position: sticky;
  top: 0;
  z-index: 999;
}


.Navbar-links .nav-link,
.Navbar-links .navbar-toggler {
  color: white;
  font-size: 3vh;
  font-weight: bold;
}

.Navbar-links {
  border-bottom: 1px solid white;
  margin-bottom: 50px;

}

.Navbar-links .form-control {
  color: black;
}
.Navbar-links .form-text {
  color: white !important;
}

.Navbar-links .nav-link.active {
  color: rgb(255,153,0); 
}

.image-container {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  z-index: 9999;
}

.left-image {
  width: 100px;
  height: auto;
  margin-left: 20px;
}

.right-image {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .image-container {
    display: none; /* Hide the image container on smaller screens */
  }
}

.sale-image {
  height: 70vh;
}
